.App {
  text-align: center;
}

*{
  font-family: 'Geist'!important;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cursoranim {
  0% {
    opacity: 0;
  }
}

:root{
  --ds-background-100 : #0a0a0a;
  --ds-teal-600: #0c9784;
  --ds-gray-900: #a1a1a1;
  --ds-background-100: #0a0a0a;
  --ds-gray-alpha-400:#ffffff24;
  --ds-gray-alpha-100:#ffffff0f;
  --ds-red-700: #e5484d;
  --ds-background-200: black;
  --ds-border: #ffffff17;

}

.progresscircle {
  stroke-dasharray: calc(var(--stroke-percent) * var(--percent-to-px)) var(--circumference);
  transform: rotate(calc(-90deg + var(--gap-percent) * var(--offset-factor) * var(--percent-to-deg)));
  transform-origin: calc(var(--circle-size)/2) calc(var(--circle-size)/2);
}

.progresscircleback {
  stroke-dasharray: calc(var(--stroke-percent) * var(--percent-to-px)) var(--circumference);
  transform: rotate(calc(1turn - 90deg - (var(--gap-percent) * var(--percent-to-deg)))) scaleY(-1);
  transform-origin: calc(var(--circle-size)/2) calc(var(--circle-size)/2);
}

@font-face {
  font-family: "Geist";
  src: url('./fonts/Geist-Regular-BF6569491e3eff1.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: "Geist";
  src: url('./fonts/Geist-Bold-BF6569491da5a14.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "Geist";
  src: url('./fonts/Geist-Light-BF6569491dc9c01.otf') format('opentype');
  font-weight: lighter;
}

